body {
  font-family: "Oxanium", cursive;
}

a {
  text-decoration: none;
  color: darkslategray;
}

a:hover {
  color: palevioletred;
}

.content {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  grid-template-rows: 1fr 5rem;
  align-items: center;
}

.links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.links li {
  display: block;
}

.logo {
  max-width: 100%;
  height: auto;
}
